<!doctype html>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <title>Influence - Give your feedback to any Business</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="stylesheets/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
    <script type="application/javascript" src="javascripts/controllers/mainController.js"></script>
</head>
<body ng-controller="influenceController">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Influence - Your Feedback IS Important!</h3>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="inner cover">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <label>
                                    What's in your mind?
                                </label>
                                <textarea class="form-control input-lg" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a href="#" class="btn btn-lg btn-default btn-block">Send In</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>CopyRight by <a href="http://getbootstrap.com">Influence LLC.</a>, 2014</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>