<!doctype html>
<html ng-app="influenceApp">
<head>
    <meta charset="utf-8" />
    <title>Influence - Give your feedback to any Business</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/admin/scripts/assets/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/scripts/libs/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/scripts/libs/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>

    <script src="/scripts/libs/angular-bootstrap-ui/0.11.0/angular-bootstrap-ui.js"></script>

    <script type="application/javascript" src="/scripts/common/configGen.js"></script>

    <script type="application/javascript" src="/scripts/services/influenceAppApiService.js"></script>
    <script type="application/javascript" src="/scripts/controllers/mainController.js"></script>
    <script type="application/javascript" src="/scripts/app.js"></script>

    <script type="application/javascript">
        configGen(
                'influenceApp.config',
                'influenceAppConfig',
                {
                    DEBUG: false,
                    API : {
                        locationApi : {
                            cId             : "{{config.locationApi.clientId}}",
                            authTokenUrl    : "{{config.locationApi.authTokenUrl}}",
                            authorizeUrl    : "{{config.locationApi.authorizeUrl}}"
                        },
                        URL : "/api",//"http://127.0.0.1:8888/api",
                        METHODS : {

                        },
                        KEY : '{{config.app.key}}'
                    }
                }
        );
    </script>
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Influence - Your Feedback IS Important!</h3>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <content ng-view></content>

                <div class="mastfoot">
                    <div class="inner">
                        <p>CopyRight by <a href="http://getbootstrap.com">Influence LLC.</a>, 2014</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>