<div class="form-group" ng-if="permissionLevel.level === 'app'">
    <label for="appActions">Application Actions:</label>
    <ul id="appActions">
        <li ng-repeat="action in actions">
            <input type="checkbox" ng-checked="isAppActionsContains(action)"/>{{action.key}}
        </li>
    </ul>
</div>

<div class="form-group" ng-if="permissionLevel.level === 'tenant'">
    <label for="tenant">Tenant:</label>
    <select id="tenant" ng-model="data.selectedTenant" ng-change="onChangeTenant()" ng-options="tenant.name for tenant in metaData.tenants"></select>
    <div ng-if="data.selectedTenant">
        <label for="appActions">Tenant Actions:</label>
        <ul id="tenantActions">
            <li ng-repeat="action in actions">
                <input type="checkbox" ng-checked="isTenantActionsContains(data.selectedTenant, action)"/>{{action.key}}
            </li>
        </ul>
    </div>
</div>

<div class="form-group" ng-if="permissionLevel.level === 'affiliate'">
    <label for="tenantsForAffilaite">Tenant:</label>
    <select id="tenantsForAffilaite" ng-model="data.selectedTenant" ng-change="onChangeTenant()" ng-options="tenant.name for tenant in metaData.tenants"></select>
    <label for="affiliatesDropDown">Affiliate:</label>
    <select id="affiliatesDropDown" ng-model="data.selectedAffiliate" ng-options="affiliate.name for affiliate in metaData.affiliates"></select>
    <div ng-if="data.selectedAffiliate">
        <label for="affiliateAction">Affiliate Actions:</label>
        <ul id="affiliateAction">
            <li ng-repeat="action in actions">
                <input type="checkbox" ng-checked="isAffiliateActionsContains(data.selectedTenant, data.selectedAffiliate, action)"/>{{action.key}}
            </li>
        </ul>
    </div>
</div>