<div>
    <div class="btn-group" dropdown>
        <a class="btn btn-link dropdown-toggle" ng-disabled="disabled">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="action in actions" ng-click="addActionToApp(action)">
                {{action.key}}
            </li>
        </ul>
    </div>
    <label for="existingAppActions">Application Actions:</label>
    <ul id="existingAppActions">
        <li ng-repeat="action in data.perms.actions">
            {{action}}
            <span class="glyphicon glyphicon-minus" ng-click="removeActionFromApp(action)"></span>
        </li>
    </ul>
    <div class="btn-group" dropdown>
        <a class="btn btn-link dropdown-toggle" ng-disabled="disabled">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="tenant in metaData.tenants" ng-click="addTenants(tenant)">
                {{tenant.name}}
            </li>
        </ul>
    </div>
    <label>Tenants:</label>
    <ui>
        <li ng-repeat="tenant in data.perms.tenants">
            <p>TenantID: {{tenant.tenantId}}</p>
            <div class="btn-group" dropdown>
                <a class="btn btn-link dropdown-toggle" ng-disabled="disabled">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="action in actions" ng-click="addActionToTenant(tenant, action)">
                        {{action.key}}
                    </li>
                </ul>
            </div>
            <label>Actions:</label>
            <ul>
                <li ng-repeat="action in tenant.actions">
                    {{action}}<span class="glyphicon glyphicon-minus" ng-click="removeActionFromTenant(tenant, action)"></span>
                    <!--<span ng-click="removeActionFromTenant(tenant, action)">-</span>-->
                </li>
            </ul>
            <label>Affiliates:</label>
            <ul>
                <li ng-repeat="affiliate in tenant.affiliates">
                    <p>Affiliate ID: {{affiliate.affiliateId}}</p>
                    <div class="btn-group" dropdown>
                        <a class="btn btn-link dropdown-toggle" ng-disabled="disabled">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="action in actions" ng-click="addActionToTenantAffiliate(tenant, affiliate, action)">
                                {{action.key}}
                            </li>
                        </ul>
                    </div>
                    <label>Actions:</label>
                    <ul>
                        <li ng-repeat="action in affiliate.actions">
                            {{action}}<span class="glyphicon glyphicon-minus" ng-click="removeActionFromTenantAffiliate(tenant, affiliate, action)"></span>
                            <!--<span ng-click="removeActionFromTenant(tenant, action)">-</span>-->
                        </li>
                    </ul>
                </li>
            </ul>

        </li>
    </ui>
</div>
