<div class="inner cover">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <label>I am at: </label>
                <input class="form-control input-lg" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <label>
                    What's in your mind?
                </label>
                <textarea class="form-control input-lg" rows="6"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="#" class="btn btn-lg btn-default btn-block">Send In</a>
            </div>
        </div>
    </form>
</div>