<div class="row">
    <menu-directive></menu-directive>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Permissions for {{admin.displayName || admin.firstName || admin.username}}</h1>
        <div class="row placeholders">
            <div>
                <admin-permissions
                        actions="actions"
                        permissions="permissions"
                        asyn-load-begin="loadingStart()"
                        asyn-load-end="loadingEnd()"
                        load-tenants="loadTenants()"
                        load-affiliates="loadAffiliates(tenant)"
                        onError="onError()"></admin-permissions>

                <a type="submit" class="btn btn-default" ng-click="savePermissions()"> Submit</a>
            </div>
        </div>

    </div>
</div>