<div class="row">
    <menu-directive></menu-directive>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Affiliate</h1>

        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <form name="affiliateForm" role="form">
                    <div class="form-group" ng-if='affiliate && affiliate.id'>
                        <label for="affiliateId">Affiliate ID</label>
                        <label id="affiliateId">{{affiliate.id}}</label>
                    </div>
                    <div class="form-group" ng-if='!affiliate || !affiliate.id'>
                        <label for="tenantId">Tenant ID</label>
                        <select id="tenantId" ng-model="affiliate.tenantId" ng-options="tenant.id as tenant.name for tenant in tenants"></select>
                    </div>
                    <div class="form-group">
                        <label for="affiliateName">Affiliate Name</label>
                        <input type="text" class="form-control" id="affiliateName" placeholder="Affiliate Name" ng-model="affiliate.name">
                    </div>
                    <a type="submit" class="btn btn-default" ng-click="createUpdateAffiliate()">Submit</a>
                </form>
            </div>
        </div>

    </div>
</div>