<!doctype html>
<html ng-app="influenceAdminApp">
<head>
    <meta charset="utf-8" />
    <title>Influence - Admin portal</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/admin/styles/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>

    <script type="application/javascript" src="/admin/scripts/common/configGen.js"></script>
    <script type="application/javascript" src="/admin/scripts/common/constants.js"></script>

    <script type="application/javascript" src="/admin/scripts/common/session.js"></script>

    <script type="application/javascript" src="/admin/scripts/services/influenceAdminAppApiServices.js"></script>

    <script type="application/javascript" src="/admin/scripts/directives/navi.js"></script>
    <script type="application/javascript" src="/admin/scripts/controllers/adminController.js"></script>
    <script type="application/javascript" src="/admin/scripts/app.js"></script>

    <script type="application/javascript">
        configGen(
                'influenceAdminApp.config',
                'influenceAdminAppConfig',
                {
                    DEBUG: false,
                    API : {
                        URL : "http://127.0.0.1:8888/api",
                        METHODS : {
                            ADMIN_LOGIN : "/auth/admin/login"
                        },
                        KEY : '{{config.app.key}}',
                        TENANT_ID    : '{{config.app.tenantId}}'
                    }
                }
        );
    </script>

</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Influence - Admin portal</h3>
                        <navi-directive></navi-directive>
                    </div>
                </div>

                <div class="inner cover" ng-view></div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>CopyRight by <a href="http://influence-llc.com">Influence LLC.</a>, 2014</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>